
/* rane */

.footer{
    background-color: #084C2E;
    color: #FFFFFF;
    padding: 40px 0;
  }
  
  .footer-titles{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  .footer-links, 
  .footer-links:hover {
    color: inherit;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
    text-decoration: none;
  }
  
  .social {
    margin-top: 20px;
  }
  
  .social-title,
  .newsletter-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 30px;
  }
  
  .social-insta {
    margin: 0 14px 0 18px;
  }
  
  .rights-link,
  .rights-link:hover,
  .rights-link:focus-visible {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
  .newsletter-title {
    margin: 24px 0 14px;
  }
  
  .newsletter-form {
    margin-bottom: 40px;
  }
  
  .divider{
    border: 1px solid #3CCB7F;
    margin: 24px 0;
  }
  
  .rights-reserved {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
  }
  
  .rights-item {
    font-size: 14px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .newsletter .signup-btn,
  .newsletter .signup-btn:hover{
    background-color: #39A657;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
    line-height: 24px;
    width: max-content;
    height: 48px;
  }
  
  .newsletter-input {
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    color: #98A2B3;
    font-size: 14px;
    padding: 12px 16px;
    width: 100%;
  }

  .newsletter-input:focus-visible {
    outline: none;
  }

  /* .store{
    height:51.05px;
    width:172.3px;
  } */
  
  @media screen and  (min-width: 768px) {
    .footer {
      padding: 64px 0;
    }
  
    .newsletter-title {
      margin: 0 0 14px;
    }
  
    .divider {
      margin: 40px 0;
    }
  
    .rights-reserved {
      margin-bottom: 0;
    }
  
    .rights-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  
    .mt-20 {
      margin-top: 0;
    }
  
  }