/* Global Footer */

.footer-section{
    background-color: #084C2E;
    color: #FFFFFF;
}

.footer-row{
  padding-top: 40px;
  padding-bottom: 24px;
}
/* Row 1 0f 1 CSS */

.footer-row-1{
  margin-bottom: 24px;
}
.footer-card{
  margin-bottom: 20px;

  
}

.footer-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

.footer-subtitle{
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  text-decoration: none;
}

.followUs{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.followUs-icon{
  width: 32px;
  height: 32px;
  font-size: 31px;

}


/* Row 2 of 1 CSS */

.subscribe{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 14px;
}

.signUp{
  margin-bottom: 40px;
}
.form-control{
  border-radius: 10px;
  border: 1px;
  height: 48px;
  padding: 12px 16px;
  margin-right: 8px;
}

.signUp-btn{
  background-color: #39A657;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 21px;
  line-height: 24px;
  
}

.app-store{
  height:51.05px;
  width:152.73px;
  margin-right: 16px;
}
.play-store{
  height: 51.05px;
  width:172.3px
}


/* Copyright section CSS */

.copyright-title{
  
  font-weight: 500;
  margin-bottom: 24px;

}

.copyright-subtitle{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  display: inline-block;

}  

.copyright{
  padding-top: 24px;
  padding-bottom: 40px;
}

/* MEDIA QUERY */


@media screen and (min-width: 1280px) {

  .footer-row{
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .footer-row-1{
    margin-bottom: 0;
  }

  .search{
    max-width: 518px;
    height: 86px;
  }

  .signUp-btn{
     min-width: 109px;
  }

  .SignUp{
    padding: 12px 24px;

  }

  .app-store{
    height:45px;
    width:134.62px;
    margin-right: 16.98px;

  }
  .play-store{
    height:45px;
    width:151.88px;
  }

  .copyright{
    padding-top: 40px;
    padding-bottom: 64px;
  }
.copyright-title{
  margin-bottom: 0;
}
  .copyright-subtitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
 
 .form-control{
  width: 377px;
} 
}