.hero {
    position: relative;
    width: 100%;
    height: 660px;
}
.hero-section .hero-video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    object-fit: cover;
    font-family: 'object-fit: cover';
    top: 0;
    right: 0;
    left: 0;
}

.hero-body {
    background-color: #084C2E;
}

.hero-section {
    /* background-image: url(./images/hero-section.png);
    background-size: cover;
    min-height: 800px; */
    /* text-align: center; */
    color: #fff;

    /* new css */
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.hero-body {
    height: 100%;
}

.head-con {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    padding: 0 12px;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 185px 0 16px;
    max-width: 900px;
}

.hero-subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 550px;
}

.hero-button  .shopping-btn {
    background-color: #fff;
    border-radius: 12px;
    color: #1D2939;
    font-size: 16px;
    font-weight: 600;
    width: 180px;
    height: 56px;
    padding: 10px 24px;
}

@media screen and (min-width: 768px) {

    .hero {
        height: 800px;
    }

    .head-con {
        padding: 0;
        left: unset;
    }

    .hero-section {
        text-align: left;
        min-height: 880px;
    }

    .hero-title {
        font-size: 72px;
        line-height: 90px;
        margin: 260px 0 16px;
    }

    .hero-subtitle {
        font-size: 18px;
        line-height: 28px;
    } 
}