.key-features {
  padding: 40px 0 16px;
}

.feature-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 38px;
}

.feature-card {
  border: 1px solid #d3f8df;
  border-radius: 16px;
  box-shadow: 0 0 30px 0 #02961326;
  margin-bottom: 24px;
  padding: 24px;
}

.feature-image {
  width: 72px;
  height: 72pxs;
  margin-bottom: 15px;
}

.feature-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 8px;
}

.feature-subHeading {
  font-size: 18px;
}

.key-text {
  color: #099250;
}

.mw-210 {
  max-width: 210px;
}

.mw-250 {
  max-width: 250px;
}
@media screen and (min-width: 768px) {
  .key-features {
    margin: 100px 0;
  }

  .feature-title {
    font-size: 48px;
    margin-bottom: 60px;
    line-height: 60px;
  }

  .feature-card {
    margin-bottom: 48px;
    padding: 24px 24px 52px;
  }
}
